@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--primary-colour);
  transition: 0.4s;
}

/* .primary-btn {
  /* border-radius: 3px;
  width: 80px;
  padding: 3px;
  color: white;
  background-color: var(--primary-colour);
  border: 3px solid var(--color-border); */
  /* border-radius: 5px;
  border:1px solid #b79033;
  background:linear-gradient( #fde7ae,#f3c451);
  color: black; */
/* } */ 

/* text-white font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 bg-primary hover:bg-primaryHover */

.primary-btn {
  color: white; /* text-white */
  font-weight: 500;; /* font-medium */
  border-radius: 5px; /* rounded-lg */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-top: 6px; /* py-4 */
  padding-bottom: 6px;  /* py-4 */
  text-align: center; /* text-center */
  margin-right: 3px;  /* mr-3 */
  background-color: var(--color-primary); /* bg-primary */
}

.danger-btn {
  color: white; /* text-white */
  font-weight: 500;; /* font-medium */
  border-radius: 5px; /* rounded-lg */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-top: 6px; /* py-4 */
  padding-bottom: 6px;  /* py-4 */
  text-align: center; /* text-center */
  margin-right: 3px;  /* mr-3 */
  background-color: var(--color-danger); /* bg-primary */
}

.disabled {
  color: var(--primary-btn-colour);
  border: 1px solid var(--color-border);
  background: rgba(90, 90, 90, 0.65);
  pointer-events: none;
}

.error {
  border-radius: 5px;
  color: white;
  top: 7px;
  border: 1px solid rgba(255, 63, 63, 0.872);
  background-color: rgba(255, 63, 63, 0.341);
  padding: 5px;
}

.success {
  border-radius: 5px;
  color: white;
  top: 7px;
  border: 1px solid rgba(143, 255, 63, 0.872);
  background-color: rgba(143, 255, 63, 0.341);
  padding: 5px;
}

/* .disabled {
  color: var(--primary-btn-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  background: rgba(90, 90, 90, 0.65)
} */

/* .primary-btn{
  color: var(--primary-btn-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  background: var(--primary-colour-gradient);
}

.primary-btn:hover{
  cursor: pointer;
}

.primary-btn img{
  max-height:20px;
  
}
.primary-btn span{
  font-family: Helvetica, sans-serif;
  line-height:44px;
  color:black;
} */

/*
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
